<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.vue.springRest.api.user.mapper.UserMapper">
    <select id="getAllUser" resultType="UserModel">
        <![CDATA[
        SELECT * FROM user;
        ]]>
    </select>

    <select id="findOneUserByUsername" parameterType="String" resultType="UserModel">
        <![CDATA[
        SELECT * FROM user where user_id=#{user_id};
        ]]>
    </select>

    <select id="findOneAuthoritiesByUsername" parameterType="String" resultType="Authority">
        <![CDATA[
        SELECT ua.authority_name
        FROM user AS u
        JOIN user_authority AS ua
        ON u.user_no = ua.user_no
        WHERE u.user_id = #{user_id};
        ]]>
    </select>


    <insert id="save" useGeneratedKeys="true" keyProperty="user_no" parameterType="UserModel">
        <![CDATA[
        INSERT INTO user(
            user_id,
            user_pw,
            user_name,
            user_email,
            user_address,
            user_phone,
            user_activated
        )VALUES(
            #{user_id},
            #{user_pw},
            #{user_name},
            #{user_email},
            #{user_address},
            #{user_phone},
            #{user_activated}
            )
        ]]>
    </insert>
    <insert id="authSave" parameterType="UserModel">
        <![CDATA[
            INSERT INTO user_authority(user_no, authority_name) VALUES (#{user_no}, 'ROLE_USER')
        ]]>
    </insert>

    <update id="modifyUserInfo" parameterType="UserModel">
        <![CDATA[
            UPDATE user SET
                user_pw=#{user_pw},
                user_email=#{user_email},
                user_address=#{user_address},
                user_phone=#{user_phone}
            WHERE
                user_id=#{user_id}
        ]]>
    </update>

    <select id="getUserId" parameterType="Long" resultType="String">
        <![CDATA[
            SELECT user_id FROM user WHERE user_no=#{user_no}
        ]]>
    </select>

    <update id="userManagement" parameterType="UserModel">
        <![CDATA[
            UPDATE user SET
                user_activated=#{user_activated}
            WHERE user_id = #{user_id}
        ]]>
    </update>
</mapper>
